<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Promises (Playground) 1.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Promises (Playground) 2.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>Promises (Playground).xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>mazi.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>maziwatch Watch App.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A93EA7F52B090F4100CA1A3A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A93EA8062B090F4200CA1A3A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A93EA8102B090F4200CA1A3A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A93EA8272B0910F200CA1A3A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A93EA8362B0910F300CA1A3A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A93EA8402B0910F300CA1A3A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
